:root {
    /* --primary-color: blue;
    --secondary-color: black;
    --accent-color1: darkgrey;
    --accent-color2: #000080; */
    --heading-font: Helvetica, sans-serif, "Arial";
    --body-font: "Times New Roman", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.header {
    grid-column: 1 / 3;
    background: #333;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    padding: 1rem 0 0 0;
}

.navigation {
    background: black;
    width: 100%}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5rem 1rem;
}
.navigation a {
    color: white;
    text-decoration: none;
 
}

/* .navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active {
    color: white;
    text-decoration: none;} */

.main-content {
    grid-column: 1 / 2;
    background: #dcdcdc;
    padding: 2rem;
    min-height: 300px;
    font-size: 1.5rem;
}

.aside-content {
    grid-column: 2 / 3;
    background: white;
    padding: 2rem;
    font-size: 1.5rem;
}

.footer {
    grid-column: 1 / 3;
    background: #333;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 1.25rem;
}