/* Feb 28 */

:root {
    /* --primary-color: blue;
    --secondary-color: black;
    --accent-color1: darkgrey;
    --accent-color2: #000080; */
    --heading-font: Helvetica, sans-serif, "Arial";
    --body-font: "Times New Roman", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    grid-column: 1 / 3;
    background: #333;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    padding: 1rem 0 0 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 2;
    grid-column: 1 / 3;
    gap: 1rem;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    padding: 0 25px;
}

.name-title {
    grid-column: 1 / -1;
    text-align: center;
    margin: 1rem 0 1.5rem;
    font-size: 2rem;
}

.card {
    background: #dcdcdc;
    padding: 0;
    min-height: 300px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.card > h3 {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 1rem;
    margin: 0;
    font-size: 1.75rem;
    text-align: center;
}

.card .callout,
.card ul {
    padding: 1.5rem;
    text-align: left;
}


/* .callout
{
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    background-color: #247;
    color: #fff;
} */

.img-right {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 200px;
    height: auto;

}

.img-left {
    float: left;
    margin: 0 15px 10px 0;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 200px;
    height: auto;
}

.divide {
    width: 80%;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid #666;
}

.bio-info {
    margin-right: 20px;
}

.local-info {
    margin-left: 20px;}

.clear-float {
    clear: both;}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding: 1.5rem;
}

.navigation {
    background: black;
    width: 100%
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.navigation a {
    color: white;
    text-decoration: none;

}

.navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active {
    color: white;
    text-decoration: none;}

.section1-content {
    grid-column: 1 / 2;
    grid-row: 2;
    background: #dcdcdc;
    padding: 2rem;
    min-height: 300px;
    font-size: 1.5rem;
}

.section2-content {
    grid-column: 2 / 3;
    grid-row: 2;
    background: white;
    padding: 2rem;
    font-size: 1.5rem;
}

.footer {
    grid-column: 1 / 3;
    grid-row: 3;
    background: #333;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 1.25rem;
}