@media screen and (min-width: 500px)
{

    h1
    {
        color: white;
        background: black;
        width: 100%;
    }


    .gallery-grid
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 1500px;
        margin: 0 auto;
    }

    .gallery-grid img
    {
        width: auto;
        height: auto;
        display: block;   }

    .gallery-grid figure
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid section {
        border: 1px solid #ccc;
            border-radius: 8px;
            padding: 1rem;
            /* background: #e5e5e5; */
            background: #e7e7e7;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #menu
    {
        display: none;
        /* hide hamburger button */
    }

    .navigation ul
    {
        display: flex;
        /* show menu */
        flex-direction: row;
        gap: 1.5rem;
    }
}