*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first coding */

@media (min-width: 750px)
{

    .page
    {
        max-width: 1500px;
    }
}

body
{
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: rgb(221, 245, 250);
}

.page
{
    max-width: 600px;
    margin: 0 auto;
}

picture
{
    max-width: 100%;
    display: block;
}

header
{
    background: #58181f;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem
}

main img
{
    width: 100%;
    height: auto;
    display: block;
    padding: 0 0 10px 0;
}

section
{
    display: block;
    border: 1px solid black;
    margin-bottom: 1.5rem;
}

h2
{
    margin-bottom: 0.5rem;
    text-align: center;
}

ul
{
    padding: 10px;
    list-style: none;
}

li
{
    margin-bottom: 0.25rem;
}

.data
{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    ;
}

.data li
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.label
{
    text-align: right;
}

.colon
{
    text-align: center;
    padding-right: 0.25rem;
}

.value
{
    text-align: left;
}

.weather-icon
{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

footer
{
    text-align: center;
    font-size: 1rem;
}